LazyFURS/Schemas/Doh_Obr_2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://edavki.durs.si/Documents/Schemas/Doh_Obr_2.xsd"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:edp="http://edavki.durs.si/Documents/Schemas/EDP-Common-1.xsd"
  targetNamespace="http://edavki.durs.si/Documents/Schemas/Doh_Obr_2.xsd"
  elementFormDefault="qualified">
  <xs:import namespace="http://edavki.durs.si/Documents/Schemas/EDP-Common-1.xsd" schemaLocation="EDP-Common-1.xsd"/>

  <!--document structure-->
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="edp:Header"/>
        <xs:element ref="edp:AttachmentList" minOccurs="0" />
        <xs:element ref="edp:Signatures"/>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="edp:bodyContent"/>
              <xs:element ref="Doh_Obr"/>
              <xs:element ref="SubseqSubmissDecision" minOccurs="0" />
              <xs:element ref="SubseqSubmissProposal" minOccurs="0" />
              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!--type definitions-->
  <xs:element name="Doh_Obr">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SelfReport" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="WfTypeU" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Notes" type="xs:string" minOccurs="0"/>
        <xs:element name="Period" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Obdobje</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DocumentWorkflowID" type="edp:DocumentIDType" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Vrsta dokumenta - šifra</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Email" type="xs:string" minOccurs="0" >
          <xs:annotation>
            <xs:documentation>Elektronski naslov zavezanca</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="TelephoneNumber" type="xs:string" minOccurs="0" >
          <xs:annotation>
            <xs:documentation>Telefonska številka zavezanca</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ResidentOfRepublicOfSlovenia" type="xs:boolean" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Rezident Republike Slovenije</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Country" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Država rezidentstva</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Interest" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>Podatki o izplačevalcih obresti in izplačanih obrestih (druge obresti)</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="Date" type="xs:date" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Datum prejema obresti</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="TaxNumber" type="xs:int" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Davčna številka izplačevalca obresti</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="IdentificationNumber" type="typeText30" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Identifikacijska številka izplačevalca obresti</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Name" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Naziv izplačevalca obresti</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Address" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Naziv izplačevalca obresti</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Country" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Država izplačevalca obresti</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Type" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Šifra vrste obresti</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Value" type="Decimal12_2Type" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Znesek obresti (v EUR)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ForeignTax" type="Decimal12_2Type" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Tuji davek (v EUR)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Country2" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Država vira</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ReliefStatement" type="typeText100" minOccurs="0" >
                <xs:annotation>
                  <xs:documentation>Uveljavljam oprostitev po mednarodni pogodbi</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Reduction" minOccurs="0">
          <xs:complexType>
            <xs:annotation>
              <xs:documentation>ReductionOrReliefInPayOfIncomeTaxOfInterest (znižanje oziroma oprostitev plačila dohodnine od obresti na podlagi določb mednarodne pogodbe o izogibanju dvojnega obdavčevanja dohodka)</xs:documentation>
            </xs:annotation>
            <xs:sequence>
              <xs:element name="Paragraph" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Odstavek</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Article" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Člen</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Country1" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>BetweenRepublicOfSloveniaAnd (med Republiko Slovenijo in ...)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Country2" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>IAmResidentOf (sem rezident ...)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Country3" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>PreventOfDoubleTaxationBetweenRepublicOfSloveniaAnd (preprečitev dvojnega obdavčevanja med Republiko Slovenijo in ...)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="CompetentAuthorityOfCertificateOfResidency" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Pristojni organ potrdila o rezidentstvu</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="DateOfCertificateOfResidency" type="xs:date" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Datum potrdila o rezidentstvu</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Country4" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>UnderCertificateOfResidencyIAmResidentOf (na podlagi potrdila o rezidentstvu sem rezident ...)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Country5" type="xs:string" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>ContractAboutPreventOfDoubleTaxationOfIncomeBetweenRepublicOfSlovenianAnd (pogodba o preprečevanju dvojnega obdavčevanja dohodka med Republiko Slovenijo in ...)</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Attachment" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>Priloge</xs:documentation>
          </xs:annotation>
        </xs:element>
		<!-- Custodian data -->
        <xs:element name="CustodianNotes" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Custodian notes</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="CustodianSubmitDate" type="xs:date" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Submission date</xs:documentation>
          </xs:annotation>
        </xs:element>
        <!-- end of optional fields-->
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SubseqSubmissDecision">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Podatki iz sklepa o dovolitvi predložitve davčne napovedi po izteku predpisanega roka</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="DecisionId" type="xs:string" minOccurs="0" >
          <xs:annotation>
            <xs:documentation>Številka sklepa</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DecisionDate" type="xs:date" minOccurs="0" >
          <xs:annotation>
            <xs:documentation>Datum izdaje sklepa</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="SubmissionDeadline" type="xs:date" minOccurs="0" >
          <xs:annotation>
            <xs:documentation>Rok za predložitev, določen v sklepu</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="SubseqSubmissProposal">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Predlog za naknadno predložitev davčne napovedi</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="ProposalSubmitted" type="xs:boolean" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Vloga za podaljšanje roka - že vložena</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="StartDate" type="xs:date" minOccurs="0" >
          <xs:annotation>
            <xs:documentation>Datum prenehanja razlogov za zamudo roka</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ProposalDeadline" type="xs:date" minOccurs="0" >
          <xs:annotation>
            <xs:documentation>Rok za naknadno predložitev</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="DelayReasons" type="xs:string" minOccurs="0" >
          <xs:annotation>
            <xs:documentation>Navedba opravičljivih razlogov za zamudo roka</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="Decimal12_2Type">
    <xs:restriction base="xs:decimal">
      <xs:pattern value="\d{1,12}(\.\d{1,2})?" />
      <!--xs:fractionDigits value="2" />
      <xs:totalDigits value="12" /-->
    </xs:restriction>
  </xs:simpleType>
 <xs:simpleType name="typeText100">
    <xs:restriction base="xs:string">
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeText20">
    <xs:restriction base="xs:string">
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="typeText30">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
